* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
}

.form-container form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #fff;
    text-align: center;
    width: 500px;
}

.form-container form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-button {
    background: #fbd0d9;
    color: maroon;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-button:hover {
    background: maroon;
    color: #fff;
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.displayP {
    text-align: center;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.logo {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
}

.logout {
    text-align: right;
}

.image {
    width: 100%;
}

.splash {
    background-image: url('beachHouse.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    height: 500px;
    width: 100%;
}


.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #02272b;
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchTerm:focus {
    color: #00B4CC;
    font-size: 10pt;
    color: #c3f8f0
}

.searchButton {
    width: 60px;
    height: 50px;
    border: 1px solid #000000;
    background: #000000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window {
    height: 400px;
    max-height: 400px;
    width: 400px;
    max-width: 400px;
    float: left;
    padding: 10px;
    border: #000000;
    border-width: 2px;
}

.windowimage {
    max-width: 100%;
    max-height: 100%;
    height: 200px;
    width: 300px;
}

.userinfo {
    display: grid;
    grid-template-areas: 
        "a header b"
        "left main right";
    grid-gap: 10px;
    justify-content: space-between;
}

.card {
    width: 40%;
    border: 3px solid #000000;
    padding: 15px;
    border-radius: 15px;
  }
  
.usernumber{
    font-size:20px 
}
